@model ABC_University.Models.Teacher

<label for="fname">Teacher Name</label>
<input type="text" value="@Model.teacherName" name="teacherName"disabled>
<label for="lname">Teacher Number</label>
<input type="text" value="@Model.teacherNo" name="teacherNo"disabled>