@model ABC_University.Models.Room

Room Name : <input type="text" value="@Model.roomName" />
<br />
Room Size : <input type="text" value="@Model.roomSize" />
<br />
Room Location : <label >@Model.location </label>

